<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button (click)="clickedStar()">
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title> Lista de Categorias </ion-title>
  <ion-buttons slot="end">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <div class="container"> 

    <div *ngIf="categoryList" class="row">
      <div class="col-6 col-sm-6" *ngFor="let c of categoryList">
        <figure class="img-space rounded" [routerLink]="['/category' , c.id ]">
        </figure>
        <p class="o-ellypsis p-0 m-0 font-weight-bold"> {{ c.name }} </p>
        <p class="o-ellypsis p-0 m-0"> {{ c.description }} </p>
      </div> 
    </div>
  </div>
</ion-content> 