.vs/
Repository/bin/

Repository/obj/

GenericProjectBase/bin/

GenericProjectBase/obj/

Core/bin/

Core/obj/

GenericProjectBase/App/node_modules/

GenericProjectBase/App/out-tsc/

GenericProjectBase/LogBase/internallog.txt

CouponBookApp/obj/Debug/

GenericProjectBase/GenericProjectBase.xml

package-lock.json

Store.Coupon.Web/bin/

Store.Coupon.Web/obj/

Store.Coupon.Web/LogBase/internallog.txt
