.vs/
Repository/bin/

Repository/obj/

GenericProjectBase/bin/

GenericProjectBase/obj/

Core/bin/

Core/obj/

GenericProjectBase/App/node_modules/

GenericProjectBase/App/out-tsc/

GenericProjectBase/LogBase/internallog.txt
