<form *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="name"> Nombre </label>
        <input type="text" formControlName="name" class="form-control" id="Name"  placeholder="Nombre">
    </div>
    <div class="form-group">
        <label for="description"> Descripción </label>
        <input type="text" formControlName="description" class="form-control" id="description"  placeholder="Descripción">
    </div>
    <div class="form-group">
        <label for="precio"> Precio </label>
        <input type="number" formControlName="price" class="form-control" id="price"  placeholder="Precio">
    </div>
     <div *ngIf="action == 1">
      <button type="submit" class="btn btn-warning">Modificar Producto</button>
    </div> 
    <div *ngIf="action == 2">
        <button type="submit" class="btn btn-success">Crear Producto</button>
      </div> 
  </form>
