<table class="table table-light">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>NOMBRES</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories; let indice=index">
        <td>{{indice+1}}</td>
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td><button (click)="onEdit(category.id)" class="btn btn-warning">Editar</button>|<button (click)="onDelete(category.id)" class="btn btn-danger" >Borrar</button></td>
      </tr>
    </tbody>
  </table>
  