<form [formGroup]="ownerForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="firstName">Nombres</label>
        <input type="text" formControlName="firstName" class="form-control" id="firstName"  placeholder="Nombres" required>
    </div>
    <div class="form-group">
        <label for="lastName">Apellidos</label>
        <input type="text" formControlName="lastName" class="form-control" id="lastName"  placeholder="Apellidos" required>
    </div>
    <div class="form-group">
        <label for="address">Dirección</label>
        <input type="text" formControlName="address" class="form-control" id="address"  placeholder="Dirección" required>
    </div>
    <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input type="email" formControlName="email" class="form-control" id="email"  placeholder="Email" required>
    </div>
    <div class="form-group">
        <label for="telephone">Teléfono</label>
        <input type="tel" formControlName="telephone" class="form-control" id="telephone"  placeholder="Teléfono" required>
    </div>
    <div class="form-group">
        <label for="rfc">RFC</label>
        <input type="text" formControlName="rfc" class="form-control" id="rfc"  placeholder="RFC" required>
    </div>
     <div *ngIf="action == 'edit'">
      <button type="submit" class="btn btn-warning">Modificar dueño</button>
    </div> 
    <div *ngIf="action == 'create'">
        <button type="submit" class="btn btn-success">Crear dueño</button>
      </div> 
</form>