<!-- <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
            <div class="row flex-grow">
                <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
                    <div class="auth-form-transparent text-left p-3">
                        <h4>Forgot Password?</h4>
                        <h6 class="font-weight-light">Please insert Admin Email</h6>
                        <form [formGroup]="forgotForm" novalidate class="pt-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" maxlength="254" class="form-control form-control-lg border-left-2"
                                        id="exampleInputEmail" d="FirstName" name="email" formControlName="emailControl" />
                                </div>
                            </div>
                            <div class="row buttons-custom">
                                <div class="col-lg-4 col-md-2 cancel-padding">
                                    <button type="button" (click)="onCancel()" class="my-3 btn btn-block btn btn-secondary btn-lg font-weight-medium auth-form-btn color-style">
                                        Cancel
                                    </button>
                                </div>
                                <div class="col-lg-8 col-md-6 custom-padding">
                                    <button type="button" (click)="forgotPassword()" [disabled]="forgotForm.invalid || disableButtonSend"
                                        class="my-3 btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn color-style">
                                        Send Email
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 login-half-bg d-flex flex-row">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img id="imgHeight" src="public/assets/images/login-carousel/2.jpg" alt="Random first slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img id="imgHeight" src="public/assets/images/login-carousel/1.jpg" alt="Random second slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img id="imgHeight" src="public/assets/images/login-carousel/3.jpg" alt="Random third slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div> -->