<h1>Productos</h1>
    <button type="button" class="btn btn-success" [routerLink]="['./new']"> <strong>+</strong> Agregar Producto</button><br>
<table class="table table-light">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>NOMBRES</th>
      <th>DESCRIPCIÓN</th>
      <th>PRECIO</th>
      <th>ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let indice=index">
      <td>{{indice+1}}</td>
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td><button (click)="onEdit(product.id)" class="btn btn-warning">Editar</button>|<button (click)="onDelete(product.id)" class="btn btn-danger" >Borrar</button></td>
    </tr>
  </tbody>
</table>