<div class="mt-auto border-top px-3">
  <div class="mt-auto pt-3">
    <h3 class="text-center"><b>Sub Categorías</b></h3>
  </div>
  <div class="mt-auto pb-3">
    <button type="button" class="btn btn-success" [routerLink]="['./new']"> <strong>+</strong> Agregar SubCategoria</button><br>
  </div>
<table class="table table-light">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>DESCRIPCIÓN</th>
        <th>CATEGORÍA</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subcategory of subcategories; let indice=index">
        <td>{{indice+1}}</td>
        <td>{{subcategory.id}}</td>
        <td>{{subcategory.name}}</td>
        <td>{{subcategory.description}}</td>
        <td>{{subcategory.categoryName}}</td>
        <td><button (click)="onEdit(subcategory.id)" class="btn btn-warning">Editar</button>|<button (click)="onDelete(subcategory.id)" class="btn btn-danger" >Borrar</button></td>
      </tr>
    </tbody>
  </table>
</div>